# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# ==============================
# Entornos virtuales
# ==============================
venv/
env/
.venv/
ENV/

# ==============================
# Streamlit
# ==============================
.streamlit/secrets.toml

# ==============================
# Archivos temporales
# ==============================
*.tmp
*.temp
*.log

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/

# ==============================
# Excel generados
# Ya no los necesitamos subir a GitHub
# ==============================
*.xlsx
*.xls

# ==============================
# Sistema operativo
# ==============================
.DS_Store
Thumbs.db

# ==============================
# VS Code
# ==============================
.vscode/
